.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    margin: 10% 0;
    text-align: center;
}

.social-icons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 10% 0;
}
.social-icons img {
    width: 30px;
    cursor: pointer;
}
svg {
    fill: var(--colorsecondary);
    width: 50px;
}

svg:hover {
    fill: var(--colorp2)
}

@media (max-width: 350px) {
    .contact {
        width: 90%;
    }
    footer {
        width: 100%;
    }
    .social-icons {
        width: 100%;
        gap: 20px;
    }
}