#info-card {
    text-align: center;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .info-card {
    display: flex;
    background-color: var(--colorsecondary);
    padding: 20px;
    gap: 20px;
  }

  .card-column {
    flex: 1;
    box-shadow: 10px 5px 5px var(--colorprimary);
    /* border-right: 1px solid #0b0909; Added a border to separate the column */
  }

  .card {
    padding: 10px;
    border: 1px solid #161616;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--colorprimary); /* Neutral background for inactive cards */
  }

  .card.active {
    background-color: var(--colorp2); /* Highlight for the active card */
    transition: var(--trasition);
  }

  .content-box {
    /* flex: 3; */
    padding: 20px;
    background-color: var(--colorprimary);
    border-radius: 17px;
  }

  .page-navigation > button {
    background-color: var(--colorlinks);
    box-shadow:  4px 4px #9d0cfe66;
    border-radius: 10px;
    color: white;
    border: none;
    font: bold;
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 600;
    margin: 13px 14px 0 18px;
  }

  .page-navigation > button:hover {
    transform: translateY(-2px);
    background-color: var(--colorlinks);
    box-shadow:  0px 15px 10px #9d0cfe66;
    /* box-shadow: none; */
  }

  @media (max-width: 600px) {
    .info-card {
      flex-direction: column;
    }
  }