
.UserLog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    width: 60%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 0;
    width: 60%;
}

.form-login > form > input {
    width: 100%;
    padding: 10px 20%;
}

.form-login > form > button {
    width: 100%;
    background-color: var(--colorlinks);
    box-shadow:  4px 4px #9d0cfe66;
    border-radius: 10px;
    color: white;
    border: none;
    font: bold;
    padding: 13px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 600;
    margin: 0 10px 0 10px;
}

.form-login > form > button:hover {
    transform: translateY(-2px);
    background-color: var(--colorlinks);
    box-shadow:  0px 15px 10px #9d0cfe66;
    /* box-shadow: none; */
  }


  @media (max-width: 650px) {
    .UserLog {
        width: 90%;
        margin: 0;
    }
    .form-login {
        width: 90%;
    }
    .form-login > form {
        width: 90%;
    }
  }